<ul class="dropdown-menu dropdown-usermenu pull-right">
    <!--<li><a href="">Профиль</a></li>-->
    <!--<li>-->
        <!--<a>-->
            <!--<span>Настройки</span>-->
        <!--</a>-->
    <!--</li>-->
    <!--<li><a href="">Помощь</a></li>-->
    <li><a href="/logout"><i class="fa fa-sign-out pull-right"></i> Выход</a></li>
</ul>