        <footer>
          <div class="pull-right">
            <a href="#">Made by CityLife <a href="tel:+79643972442"> +7 (925) 117-00-27 </a>
          </div>
          <div class="clearfix"></div>
        </footer>
      </div>
    </div>

    <script src="vendors/jquery/dist/jquery.min.js"></script>
    <script src="vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="vendors/fastclick/lib/fastclick.js"></script>
    <script src="vendors/nprogress/nprogress.js"></script>
    <script src="vendors/iCheck/icheck.min.js"></script>
    <script src="build/js/custom.min.js"></script>


  </body>

</html>
