<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Вход</title>

    <!-- Bootstrap -->
    <link href="vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="vendors/nprogress/nprogress.css" rel="stylesheet">
    <!-- Animate.css -->
    <link href="vendors/animate.css/animate.min.css" rel="stylesheet">
    <link href="build/css/custom.min.css" rel="stylesheet">
  </head>

  <body class="login">
    <div>
      <a class="hiddenanchor" id="signup"></a>
      <a class="hiddenanchor" id="signin"></a>

      <div class="login_wrapper">
        <div class="animate form login_form">
          <section class="login_content">
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>

            <form action="/login" method="post">
              <h1>Форма входа</h1>
              <div>
                <input type="text" class="form-control" placeholder="Логин" name="email" required="" />
              </div>
              <div>
                <input type="password" class="form-control" placeholder="Пароль" name="password" required="" />
              </div>
              <div>
                <button type="submit" class="btn btn-default submit" id="login-btn">Вход</button>
                <a class="reset_pass" href="#">Забыли Пароль?</a>
              </div>

              <div class="clearfix"></div>

              <div class="separator">
<!--                 <p class="change_link">
                  <a href="#signup" class="to_register"> Зарегистрироваться </a>
                </p> -->

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-bank"></i>CityUpdate!</h1>
                  <p>©2017 Все права защищены</p>
                </div>
              </div>
            </form>
          </section>
        </div>

<!--         <div id="register" class="animate form registration_form"  >
          <section class="login_content">
            <form action="/signup" method="post">
              <h1>Создать аккаунт</h1>
              <div>
                <input type="email" name="email"  class="form-control" placeholder="email" required="" />
              </div>
              <div>
                <input type="password" name="password" class="form-control" placeholder="password" required="" />
              </div>
              <div>
                <button type="submit" class="btn btn-default" >Отправить</button> 
              </div>

              <div class="clearfix"></div>

              <div class="separator">
                <p class="change_link"> Зарегистрированы ?
                  <a href="#signin" class="to_register"> Вход </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                  <h1><i class="fa fa-bank"></i> Odin Holding!</h1>
                  <p>©2017 Все права защищены</p>
                </div>
              </div>
            </form>

          </section>
        </div> -->
      </div>
    </div>
  </body>
</html>
