            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>Основное</h3>
                <ul class="nav side-menu">

                  <li><a href="/claims"><i class="fa fa-phone"></i> Обращения </a>
                  </li>

                      <li><a href="/workers"><i class="fa fa-sitemap"></i> Сотрудники</a>
                  </li>

                  </ul>
                </div>
            </div>