            <% if (user.profile.jobtitle == 'admin') { %>
            <div class="sidebar-footer hidden-small">

              <a data-toggle="tooltip" data-placement="top" title="Выход" href="/logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
              </a>

            </div>
             <% } %>